@import "tailwindcss";
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  background-color: #000;
  color: #fff;
}

body {
  @apply bg-gradient-to-br from-[#1a1a1a] via-[#111010] to-[#413a29] text-white min-h-screen;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* 
#05204A 
#02020A
#E0C27D
#E7DFC6
#DA4167
#9E0031
#735F3D
#BB9BB0
#FBB7C0
#48A9A6
#00C2D1
#59C3C3
#62BBC1
#A9BCD0
#b8d7ea
*/